# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000084
# resource alias of this part: "clutch"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x00000074 ; clutch
lod 2 2 // extr-hi-res

mesh		0x00000073
click		0x0000008D

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		-0.003 0.000 -0.026	0.000 0.000 0.000	6	; clutch_OUT
attach		0x00000083 4	; flywheel->flywheel_clutch_IN
attach		0x000000A6 4	; SuperDuty_500_flywheel->flywheel_clutch_IN
attach		0x00000100 4	; MC_flywheel->flywheel_clutch_IN

eof
