# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004D
# resource alias of this part: "L DOHC intake camshaft"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x0000002B ; L_DOHC_intake_camshaft
lod 2 2 // extr-hi-res

mesh		0x0000002A
click		0x00000067

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	13	; L_intake_camshaft_OUT
attach		0x00000040 25	; L DOHC cylinder head->L_cylinder_head_intake_camshaft_IN
attach		0x000000AD 25	; SuperDuty_500_H4L_cylinder_head->L_cylinder_head_intake_camshaft_IN

eof
