# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000FD
# resource alias of this part: "MC_R_intake_camshaft"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x00000031 ; R_DOHC_intake_camshaft
lod 2 2 // extr-hi-res

mesh		0x00000030
click		0x0000006A

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	30	; R_intake_camshaft_OUT
attach		0x000000AF 31	; SuperDuty_500_H4R_cylinder_head->R_cylinder_head_intake_camshaft_IN
attach		0x00000041 31	; R DOHC cylinder head->R_cylinder_head_intake_camshaft_IN

eof
