# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000052
# resource alias of this part: "R DOHC camshaft bearing bridge"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x00000035 ; R_DOHC_camshaft_bearing_bridge
lod 2 2 // extr-hi-res

mesh		0x00000034
click		0x0000006C

body		0.0 0.0 0.0	0.0 0.0 0.0	1.9	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	35	; R_camshaft_bearing_bridge_OUT
attach		0x00000041 34	; R DOHC cylinder head->R_cylinder_head_camshaft_bearing_bridge_IN

eof
