# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B4
# resource alias of this part: "SuperDuty_L_exhaust_camshaft"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x0000002D ; L_DOHC_exhaust_camshaft
lod 2 2 // extr-hi-res

mesh		0x0000002C
click		0x00000068

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	27	; L_exhaust_camshaft_OUT
attach		0x00000040 26	; L DOHC cylinder head->L_cylinder_head_exhaust_camshaft_IN
attach		0x000000AD 26	; SuperDuty_500_H4L_cylinder_head->L_cylinder_head_exhaust_camshaft_IN

eof
