# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000096
# resource alias of this part: "SuperDuty_alternator"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000000D9 ; alternator
lod 1 1 // hi-res

render		0x0000001F ; alternator
lod 2 2 // extr-hi-res

mesh		0x0000001E
click		0x00000060

body		0.0 0.0 0.0	0.0 0.0 0.0	4.6	sphere	0.1
noclick
nocollision

category	1

slot		-0.003 -0.007 -0.022	0.000 0.000 0.000	4	; alternator_OUT
attach		0x0000000A 20	; SuperDuty_5_4_block->engine_block_alternator_IN
attach		0x00000001 20	; MC_block->engine_block_alternator_IN

eof
