# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000088
# resource alias of this part: "supercharger driver pulley"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000000F6 ; supercharger_driver_pulley
lod 1 1 // hi-res

render		0x0000007C ; supercharger_driver_pulley
lod 2 2 // extr-hi-res

mesh		0x0000007B
click		0x00000091

body		0.0 0.0 0.0	0.0 0.0 0.0	0.05	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.036	0.000 0.000 0.000	1	; crankshaft_auxiliary_driver_pulley_OUT
attach		0x0000003E 1	; 103er crankshaft->crankshaft_auxiliary_driver_pulley_IN
attach		0x0000004C 1	; 123er crankshaft->crankshaft_auxiliary_driver_pulley_IN
attach		0x000000FE 1	; MC_crankshaft->crankshaft_auxiliary_driver_pulley_IN
attach		0x00000105 1	; MC_GLE_crankshaft->crankshaft_auxiliary_driver_pulley_IN
attach		0x0000000B 1	; SuperDuty_5_4_crankshaft->crankshaft_auxiliary_driver_pulley_IN

eof
