# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000CB6
# resource alias of this part: "Air_cleaner_Mopar_MAGNUM"

lods 3 0.001 1.000 2.000

render		0x00000C6E ;
lod 1 1 // hi-res

render		0x00000C6E ;
lod 2 2 // extr-hi-res

mesh		0x00000B7A
click		0x00000F2E

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		-0.052 0.015 -0.045	0.000 0.000 0.000	11	;
attach		0x0000090B 11	;
attach		0x0000091B 11	;
attach		0x0000092B 11	;

eof
