# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000004FC
# resource alias of this part: "Air_scoop_HOLLEY_2x4BR"

lods 3 0.001 1.000 2.000

render		0x00000CE9 ;
lod 1 1 // hi-res

render		0x00000CE9 ;
lod 2 2 // extr-hi-res

mesh		0x000001B1
click		0x00000FE1

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		-0.050 -0.065 -0.050	0.000 0.000 0.000	11	;
attach		0x0000090B 11	;
attach		0x0000091B 11	;
attach		0x0000092B 11	;

eof
