# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000044D
# resource alias of this part: "Belt_Steering_pump"

lods 3 0.001 1.000 2.000

render		0x0000019D ; oil_pan
lod 1 1 // hi-res

render		0x0000019D ; oil_pan
lod 2 2 // extr-hi-res

mesh		0x0000015C
click		0x000007CC

body		0.0 0.0 0.0	0.0 0.0 0.0	18.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	115	;
attach		0x00000A97 115	;

eof
