# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000D88
# resource alias of this part: "Belt_supercharger_Weiand"

lods 3 0.001 1.000 2.000

render		0x00000BB7 ;
lod 1 1 // hi-res

render		0x00000BB7 ;
lod 2 2 // extr-hi-res

mesh		0x00000C80
click		0x00000D9D

body		0.0 0.0 0.0	0.0 0.0 0.0	0.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	14	;
attach		0x00000BB8 15	;

eof
