# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000084
# resource alias of this part: "Clutch_HEMI_block"

lods 3 0.001 1.000 2.000

render		0x00000B75 ; clutch
lod 1 1 // hi-res

render		0x00000B75 ; clutch
lod 2 2 // extr-hi-res

mesh		0x00000A74
click		0x00000B8D

body		0.0 0.0 0.0	0.0 0.0 0.0	6.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	6	;
attach		0x00000F83 4	;

eof
