# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000915
# resource alias of this part: "Intake_manifold_E_F_I_Systems"

body		0.0 0.0 0.0	0.0 0.0 0.0	13.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	10	;
attach		0x0000090C 7	;
attach		0x0000091C 7	;
attach		0x0000092C 7	;
attach		0x0000093C 7	;
attach		0x0000094C 7	;
eof
