# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B2
# resource alias of this part: "Exhaust_header_Right_small"

lods 3 0.001 1.000 2.000

render		0x0000001B ; R_exhaust_header
lod 1 1 // hi-res

render		0x0000001B ; R_exhaust_header
lod 2 2 // extr-hi-res

mesh		0x0000001A
click		0x0000005E

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	36	;
attach		0x000000AF 16	;
attach		0x00000041 16	;
attach		0x00000F41 16	;

eof
