# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001B2
# resource alias of this part: "Exhaust_header_Right_big_B"

lods 3 0.001 1.000 2.000

render		0x0000012B ; R_exhaust_header
lod 1 1 // hi-res

render		0x0000012B ; R_exhaust_header
lod 2 2 // extr-hi-res

mesh		0x0000012A
click		0x0000016E

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		-0.020 -0.036 0.006	0.000 0.000 0.000	36	;
attach		0x00000F47 16	;
attach		0x00000F49 16	;
attach		0x00000F51 16	;

eof
