# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B0
# resource alias of this part: "Exhaust_header_left_small"

lods 3 0.001 1.000 2.000

render		0x0000001D ;
lod 1 1 // hi-res

render		0x0000001D ;
lod 2 2 // extr-hi-res

mesh		0x0000001C
click		0x0000005F

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	15	;
attach		0x000000AD 37	;
attach		0x00000040 37	;
attach		0x00000F40 37	;

eof
