# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000E10
# resource alias of this part: "Fan_5_blade_Edelbrock"

lods 3 0.001 1.000 2.000

render		0x00000929 ; 
lod 1 1 // hi-res

render		0x00000929 ; 
lod 2 2 // extr-hi-res

mesh		0x0000010F
click		0x000001DC

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.003 0.002 0.002	0.000 0.000 0.000	1	;
attach		0x00000EE2 1	;

eof
