# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000FD0
# resource alias of this part: "Head_cover_left_HEMI_PERFORMANCE"

lods 3 0.001 1.000 2.000

render		0x00000F06 ;
lod 1 1 // hi-res

render		0x00000F06 ;
lod 2 2 // extr-hi-res

mesh		0x00000A17
click		0x00000C0B

body		0.0 0.0 0.0	0.0 0.0 0.0	2.3	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	12	;
attach		0x00000F56 12	;
attach		0x00000F58 12	;

eof
