# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000FC0
# resource alias of this part: "Head_cover_left_RB"

lods 3 0.001 1.000 2.000

render		0x00000F01 ;
lod 1 1 // hi-res

render		0x00000F01 ;
lod 2 2 // extr-hi-res

mesh		0x00000A12
click		0x00000A0A

body		0.0 0.0 0.0	0.0 0.0 0.0	2.3	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	12	;
attach		0x00000F52 12	;

eof
