# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000007EB
# resource alias of this part: "Intake_manifold_HEMI_Crossram"

lods 3 0.001 1.000 2.000

render		0x0000037D ;
lod 1 1 // hi-res

render		0x0000037D ;
lod 2 2 // extr-hi-res

mesh		0x00000D38
click		0x00000D77

body		0.0 0.0 0.0	0.0 0.0 0.0	13.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	14	;
attach		0x0000E426	14

slot		-0.003 0.177 -0.001	0.000 0.000 0.000	7	;

eof
