# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000003BF
# resource alias of this part: "NOS_system_injector_HOLLE"

lods 3 0.001 1.000 2.000

render		0x000003C1 ;
lod 1 1 // hi-res

render		0x000003C1 ;
lod 1 2 // extr-hi-res

mesh		0x000003C0
click		0x000003C2

body		0.0 0.0 0.0	0.0 0.0 0.0	3.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	29	;
attach		0x000008EB 4	;



eof
