# Vehicle importer wizard 0x00000048part configuration file #
# resource ID of this part: 0x00000B48
# resource alias of this part: "Oil_pan_small_block_Milodon_deep_C"

lods 3 0.001 1.000 2.000

render		0x000002E7 ; oil_pan
lod 1 1 // hi-res

render		0x000002E7 ; oil_pan
lod 2 2 // extr-hi-res

mesh		0x00000B22
click		0x00000A63

body		0.0 0.0 0.0	0.0 0.0 0.0	18.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	10	; oil_pan_OUT
attach		0x0000E318 9
attach		0x0000E340 9
attach		0x0000E360 9
attach		0x0000E36B 9

eof
