# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000089D
# resource alias of this part: "Pulley_big_block_Paxton_Kit"

lods 3 0.001 1.000 2.000

render		0x00000C99 ;
lod 1 1 // hi-res

render		0x00000C99 ;
lod 2 2 // extr-hi-res

mesh		0x0000047C
click		0x00000C94

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.007		0.000 0.000 0.000	33	;
attach		0x000002EF 33	;
attach		0x000003EF 33	;
attach		0x000004EF 33	;


eof

