# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000E15
# resource alias of this part: "Radiator_small"

lods 3 0.001 1.000 2.000

render		0x00000970 ;
lod 1 1 // hi-res

render		0x00000970 ;
lod 2 2 // extr-hi-res

mesh		0x00000A4F
click		0x000006DC

body		0.0 0.0 0.0	0.0 0.0 0.0	18.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000		0.000 0.000 0.000	58	;
attach		0x0000E318 58	;
attach		0x0000E340 58	;
attach		0x0000E360 58	;

eof
