# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000E21
# resource alias of this part: "Radiator_HEMI_3"

lods 3 0.001 1.000 2.000

render		0x00000976 ;
lod 1 1 // hi-res

render		0x00000976 ;
lod 2 2 // extr-hi-res

mesh		0x00000B5F
click		0x000003DD

body		0.0 0.0 0.0	0.0 0.0 0.0	18.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.005		0.000 0.000 0.000	58	;
attach		0x0000E426 58	;

eof
