# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000C95
# resource alias of this part: "Supercharger_air_filter_Paxton_Kit"

lods 3 0.001 1.000 2.000

render		0x00000C09
lod 1 1 // hi-res

render		0x00000C09
lod 2 2 // extr-hi-res

mesh		0x0000091A
click		0x0000091E

body		0.0 0.0 0.0	0.0 0.0 0.0	14.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	58	;
attach		0x00000F85 59	;

eof
