# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000E31
# resource alias of this part: "Supercharger_air_out_pipe_Paxton_Kit"

lods 3 0.001 1.000 2.000

render		0x00000F86
lod 1 1 // hi-res

render		0x00000F86
lod 2 2 // extr-hi-res

mesh		0x000008F5
click		0x00000D9E

body		0.0 0.0 0.0	0.0 0.0 0.0	14.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	56	;
attach		0x00000F85 55	;

eof
