# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B8
# resource alias of this part: "Supercharger_Edelbrock_2"

lods 3 0.001 1.000 2.000

render		0x0000076C ; roots_type_supercharger
lod 1 1 // hi-res

render		0x0000076C ; roots_type_supercharger
lod 2 2 // extr-hi-res

mesh		0x00000C75
click		0x0000088E

body		0.0 0.0 0.0	0.0 0.0 0.0	14.5	sphere	0.1
noclick
nocollision

category	1

slot		-0.003 -0.003 0.000	0.000 0.000 0.000	7	;
attach		0x000004EB 	7	;

slot		-0.006 0.163 0.156	0.000 0.000 0.000	9	; carbs
compatible	0x000078BE	7	;

slot		-0.003 -0.233 -0.343	0.000 0.000 0.000	15	; drive_belt

eof
