# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BB
# resource alias of this part: "Timing_gear_cover_HEMI"

lods 3 0.001 1.000 2.000

render		0x0000022F ; camshaft
lod 1 1 // hi-res

render		0x0000022F ; camshaft
lod 2 2 // extr-hi-res

mesh		0x0000012E
click		0x00000F69

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	56	;
attach		0x0000E426 56	;

eof
