# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000CB3
# resource alias of this part: "velocity_stack"

lods 3 0.001 1.000 2.000

render 0x0000C234





lod 1 1 // hi-res

render 0x0000C234





lod 2 2 // extr-hi-res

mesh 0x0000A234





click 0x0000B234






body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	11	;
attach		0x0000098B 11	;
attach		0x0000089B 11	;
attach		0x0000008B 11	;
attach		0x0000088B 11	;
attach          0x0000E404 11   ;
attach          0x0000C131 11   ;
eof





