# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000090A0
# resource alias of this part: "FL emblem"
                       
render		0x00009069
mesh		0x0000906A
click		0x000090BB

damage 		0.4;

body		0.000 0.000 0.000	0.000 0.000 0.000	7.310	cars\racers\Nonus_data\phys\_phys_FL_door_inner.scx	;

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	33	;
attach		0x00000093 33	;

eof
