# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000080A0
# resource alias of this part: "FL emblem"
                       
render		0x00008069
mesh		0x0000806A
click		0x000080BB

damage 		0.4;

body		0.000 0.000 0.000	0.000 0.000 0.000	7.310	cars\racers\Nonus_data\phys\_phys_FR_door_inner.scx	;

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	34	;
attach		0x000000A6 34	;

eof
