# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000A0A3
# resource alias of this part: "FR emblem"

render		0x0000A070
mesh		0x0000A071
click		0x0000A0BE

damage 		0.1;

category	2

slot		-0.075 -0.100 0.509	0.000 0.000 0.000	2	;
attach		0x000000A3 2	;

eof
