# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000AA
# resource alias of this part: "FR seat"

render		0x0000007F
mesh		0x00000080
click		0x000000C5

damage		0.4

body		0.000 0.000 0.000	0.000 0.000 0.000	18.410	cars\racers\Nonus_data\phys\_phys_F_seat.scx	;

category	2

slot		0.000 -0.230 -0.150	0.000 0.000 0.000	1	; FR_seat
attach		0x00000006 902	; chassis->FR_seat

eof
