# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000AA07
# resource alias of this part: "air intake on the hood"

render		0x0000AA19
mesh		0x0000AA20
texture		0x00020020
click		0x0000AA21

body		0.839 0.143 -0.034	0.000 0.000 0.000	24.000	cars\racers\Chevrolet_Chevelle_data\MC_meshes\_phys_FL_quarterpanel_A.scx	;0x00000031
body		0.839 -0.187 0.523	0.000 0.000 0.000	8.000	cars\racers\Chevrolet_Chevelle_data\MC_meshes\_phys_FL_quarterpanel_B.scx	;0x00000036
# total mass: 32.000 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	811	; air_intake_on_the_hood
attach		0x000000B6 811	; hood->air_intake_on_the_hood
