# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C6
# resource alias of this part: "radiator"

render		0x00000094
mesh		0x00000095
click		0x000000E7

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	40	; radiator
attach		0x00000006 40	; chassis->radiator

eof
