# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000AA09
# resource alias of this part: "RR window"

render		0x0000AA25
mesh		0x0000AA26
click		0x0000AA27

category	2

body		0.000 0.000 0.000	0.000 0.000 0.000	6.000	cars\racers\Chevrolet_Chevelle_data\MC_meshes\_phys_FR_window.scx

slot		0.000 0.000 0.000	0.000 0.000 0.000	813	; RL_window
attach		0x00000006 813	; chassis->RL_window

