# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000AA01
# resource alias of this part: "Inset FL quarterpanel"

render		0x0000AAA1
mesh		0x0000AAA2
texture		0x00020020
click		0x0000AAA3

body		0.839 0.143 -0.034	0.000 0.000 0.000	4.000	cars\racers\Chevrolet_Chevelle_1970\meshes\_phys_FL_quarterpanel_A.scx	;0x00000031
body		0.839 -0.187 0.523	0.000 0.000 0.000	1.000	cars\racers\Chevrolet_Chevelle_1970\meshes\_phys_FL_quarterpanel_B.scx	;0x00000036
# total mass: 5.000 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	805	; Inset_FL_quarterpanel
attach		0x000000B9 805	; FL_quarterpanel->Inset_FL_quarterpanel
