# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000AA02
# resource alias of this part: "Inset FR quarterpanel"

render		0x0000AAA4
mesh		0x0000AAA5
texture		0x00020020
click		0x0000AAA6

body		0.839 0.143 -0.034	0.000 0.000 0.000	4.000	cars\racers\Chevrolet_Chevelle_1970\meshes\_phys_FL_quarterpanel_A.scx	;0x00000031
body		0.839 -0.187 0.523	0.000 0.000 0.000	1.000	cars\racers\Chevrolet_Chevelle_1970\meshes\_phys_FL_quarterpanel_B.scx	;0x00000036
# total mass: 5.000 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	806	; Inset_FR_quarterpanel
attach		0x000000C4 806	; FR_quarterpanel->Inset_FR_quarterpanel
