# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000020D2
# resource alias of this part: "FL indicator"

render		0x00002196
mesh		0x00002195
texture		0x00020025
click		0x0000211B

damage		0.20

category	2

slot		0.149 -0.000 0.509	0.000 0.000 0.000	1	;
attach		0x000000DB 1	; 

eof
