# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000090BA
# resource alias of this part: "FR_door_carpeting"

render		0x0000905F
mesh		0x0000905E
click		0x000090E3

damage 		0.40

body		0.000 0.000 0.000	0.000 0.000 0.000	9.000	cars\racers\Prime_data\phys\_phys_FR_door_carpeting.scx

category	2

slot		0.074 0.000 0.000	0.000 0.000 0.000	3	;
attach		0x000000C6 3	;

eof
