# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000B2CC
# resource alias of this part: "FR trim"

render		0x0000B28A
mesh		0x0000B289
click		0x0000B206

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	43	;
attach		0x00000006 43	;

eof
