# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000020D1
# resource alias of this part: "L_frame_2"

render		0x00002096
mesh		0x00002095
texture 	0x00020025
click		0x0000210B
                       
category	2

slot 		0 0 0 0 0 0 1;
compatible	0x000010D1 1	;

slot		-0.049 -0.476 -0.070	0.000 0.000 0.000	2	;
attach		0x000000B7 2	;

eof
