# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000030D7
# resource alias of this part: "RL indicator"

render		0x000030A4
mesh		0x000030A3
texture		0x00020025
click		0x00001111

category	2

slot		0.078 -0.195 -0.639	0.000 0.000 0.000	33	; 
attach		0x000000DC 2	; 

eof
