# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000010DC
# resource alias of this part: "RL trim"

render		0x000010B1
mesh		0x000010B0
click		0x00001116

category	2

slot		-0.010 -0.295 -0.844	0.000 0.000 0.000	31	; 
attach		0x000000DC 1	; 

eof
