# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000040D7
# resource alias of this part: "RR indicator"

render		0x000040A4
mesh		0x000040A3
texture		0x00020025
click		0x00002111

category	2

slot		-0.078 -0.195 -0.639	0.000 0.000 0.000	33	; 
attach		0x000000D7 2	; 

eof
