# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000060D7
# resource alias of this part: "RR indicator"

render		0x000060A4
mesh		0x000060A3
texture		0x00020025
click		0x00006111

category	2

slot		-0.074 -0.286 -0.638	0.000 0.000 0.000	33	; 
attach		0x000000D7 2	; 

eof
