# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000200C
# resource alias of this part: "stock_R_exhaust_pipe"

render		0x0000211C
mesh		0x0000211B
click		0x0000211F

damage 		0.3

category	1

slot		0.000 0.4754 0.105	0.000 0.000 0.000	1
attach		0x00000006 36

eof
