# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000057
# resource alias of this part: "Baiern_Devils_6SFi_HC_pistons"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x0000003A ; 93x88er HC pistons
lod 2 2 // extr-hi-res

mesh		0x00000039
click		0x00000072

body		0.0 0.0 0.0	0.0 0.0 0.0	2.7	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.055 -0.118	0.000 0.000 0.000	16	; piston_OUT
attach		0x00000055 39	; Baiern_Kraftwerk_2_5_connecting_rods->con_rod_piston_IN
attach		0x00000056 39	; Baiern_Devils_6SFi_connecting_rods->con_rod_piston_IN

eof
