# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000058
# resource alias of this part: "Baiern_camshaft_bearing_bridge"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x0000003C ; camshaft bearing bridge
lod 2 2 // extr-hi-res

mesh		0x0000003B
click		0x00000073

body		0.0 0.0 0.0	0.0 0.0 0.0	2.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.032 -0.029	0.000 0.000 0.000	25	; cam_bearing_OUT
attach		0x00000050 24	; Baiern_Kraftwerk_2_5_cylinder_head->cylinder_head_cam_bearing_IN
attach		0x00000042 24	; Baiern_Devils_6SFi_cylinder_head->cylinder_head_cam_bearing_IN

eof
