# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000042
# resource alias of this part: "Baiern_Devils_6SFi_cylinder_head"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000000DD ; 93x88er cylinder head
lod 1 1 // hi-res

render		0x00000010 ; 93x88er cylinder head
lod 2 2 // extr-hi-res

mesh		0x0000000F
click		0x0000005C

body		0.0 0.0 0.0	0.0 0.0 0.0	22.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.077 -0.025	0.000 0.000 0.000	3	; cylinder_head_OUT
attach		0x00000041 19	; Baiern_Kraftwerk_2_5_block->engine_block_cylinder_head_IN
attach		0x00000052 19	; Baiern_Devils_6SFi_block->engine_block_cylinder_head_IN
attach		0x0000007E 19	; Emer_StreetGT_block->engine_block_cylinder_head_IN
attach		0x0000007F 19	; Emer_MotorSport_GT_II_block->engine_block_cylinder_head_IN

slot		-0.053 0.031 0.000	0.000 0.000 0.000	5	; cylinder_head_in_cam_IN

slot		0.053 0.031 0.000	0.000 0.000 0.000	4	; cylinder_head_ex_cam_IN

slot		0.000 0.042 -0.441	0.000 0.000 0.000	22	; cylinder_head_cam_belt_IN

slot		0.000 0.032 -0.029	0.000 0.000 0.000	24	; cylinder_head_cam_bearing_IN

slot		-0.092 -0.030 -0.028	0.000 0.000 0.000	11	; cylinder_head_intake_IN

slot		0.092 -0.030 -0.205	0.000 0.000 0.000	13	; cylinder_head_exhaust_header_1_to_3_IN

slot		0.092 -0.030 0.149	0.000 0.000 0.000	14	; cylinder_head_exhaust_header_4_to_6_IN

slot		0.000 0.032 0.000	0.000 0.000 0.000	18	; cylinder_head_cover_IN

eof
