# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000056
# resource alias of this part: "Baiern_Devils_6SFi_connecting_rods"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x00000038 ; 93x88er connecting rods
lod 2 2 // extr-hi-res

mesh		0x00000037
click		0x00000071

body		0.0 0.0 0.0	0.0 0.0 0.0	2.1	sphere	0.1
noclick
nocollision

category	1

slot		-0.002 -0.044 0.313	0.000 0.000 0.000	38	; con_rod_OUT
attach		0x00000044 9	; ->crankshaft_con_rod_IN
attach		0x00000053 9	; ->crankshaft_con_rod_IN

slot		0.002 0.175 -0.115	0.000 0.000 0.000	39	; con_rod_piston_IN

eof
