# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004B
# resource alias of this part: "Baiern_Kraftwerk_2_5_fuel_rail"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000000D1 ; fuel rail
lod 1 1 // hi-res

render		0x00000022 ; fuel rail
lod 2 2 // extr-hi-res

mesh		0x00000021
click		0x00000066

body		0.0 0.0 0.0	0.0 0.0 0.0	3.2	sphere	0.1
noclick
nocollision

category	1

slot		0.025 -0.025 0.000	0.000 0.000 0.000	28	; fuel_rail_OUT
attach		0x0000004A 10	; ->intake_manifold_fuel_IN
attach		0x00000097 10	; Baiern_GT_III_intake_manifold->intake_manifold_fuel_IN
attach		0x00000090 10	; Emer_StreetGT_intake_manifold->intake_manifold_fuel_IN
attach		0x00000092 10	; Emer_MotorSport_GT2_intake_manifold->intake_manifold_fuel_IN

eof
