# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000086
# resource alias of this part: "Emer_alternator"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000000D7 ; alternator
lod 1 1 // hi-res

render		0x00000026 ; alternator
lod 2 2 // extr-hi-res

mesh		0x00000025
click		0x00000068

body		0.0 0.0 0.0	0.0 0.0 0.0	4.4	sphere	0.1
noclick
nocollision

category	1

slot		0.001 0.000 -0.095	0.000 0.000 0.000	15	; alternator_OUT
attach		0x00000041 32	; Baiern_Kraftwerk_2_5_block->engine_block_alternator_IN
attach		0x00000052 32	; Baiern_Devils_6SFi_block->engine_block_alternator_IN
attach		0x0000007E 32	; Emer_StreetGT_block->engine_block_alternator_IN
attach		0x0000007F 32	; Emer_MotorSport_GT2_block->engine_block_alternator_IN

slot		0.001 0.000 -0.095	0.000 0.000 0.000	42	; alternator_belt_IN

eof
