# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000095
# resource alias of this part: "Emer_Nonus_StreetGT_pistons"

lods 3 0.010 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x00000034 ; 80x90er HC pistons
lod 2 2 // extr-hi-res

mesh		0x00000033
click		0x0000006F

body		0.0 0.0 0.0	0.0 0.0 0.0	2.34	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.020 0.000	0.000 0.000 0.000	16	; piston_OUT
attach		0x00000093 39	; Emer_Nonus_136er_connecting_rods->con_rod_piston_IN
attach		0x00000094 39	; Emer_Nonus_146er_connecting_rods->con_rod_piston_IN

eof
