# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000080
# resource alias of this part: "Emer_MotorSport_GT2_84er_crankshaft"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x00000014 ; 88er crankshaft
lod 2 2 // extr-hi-res

mesh		0x00000013
click		0x0000005E

body		0.0 0.0 0.0	0.0 0.0 0.0	10.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.346	0.000 0.000 0.000	34	; crankshaft_OUT
attach		0x0000007E 33	; Emer_StreetGT_block->engine_block_crankshaft_IN
attach		0x0000007F 33	; Emer_MotorSport_GT2_block->engine_block_crankshaft_IN

slot		0.003 0.000 0.769	0.000 0.000 0.000	37	; crankshaft_flywheel_IN

slot		0.000 0.000 0.392	0.000 0.000 0.000	9	; crankshaft_con_rod_IN

eof
