# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000704A
# resource alias of this part: "ford_three_line_radiator"

lods 3 0.001 1.000 2.000

#render		0x???????? ; 
#lod 0 0 // lo-res

render		0x00000225 ; 
lod 1 1 // hi-res

render		0x00000225 ; 
lod 2 2 // extr-hi-res

mesh		0x00000224
click		0x00000264

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	61	;
attach		0x00000041 61	;	ford_188_block
attach		0x0000007E 61	;	ford_221_block

eof
