# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000050
# resource alias of this part: "sprint_cylinder_head"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x0000002C ; 
lod 1 1 // hi-res

render		0x0000002C ; 
lod 2 2 // extr-hi-res

mesh		0x0000002B
click		0x0000006B

body		0.0 0.0 0.0	0.0 0.0 0.0	19.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	19	; cylinder_head_OUT
attach		0x00000041 19	; ford_188_block
attach		0x00000052 19	; Baiern_Devils_6SFi_3_6_block->engine_block_cylinder_head_IN
attach		0x0000007E 19	; ford_221_block
attach		0x0000007F 19	; Emer_MotorSport_GT_II_block->engine_block_cylinder_head_IN

slot		0.185 -0.007 0.024	0.000 0.000 0.000	11	; cylinder_head_intake_IN

slot		0.195 -0.202 0.219	0.000 0.000 0.000	13	; cylinder_head_exhaust_header_1_to_3_IN

slot		-0.004 0.092 0.030	0.000 0.000 0.000	18	; cylinder_head_cover_IN

eof
