# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DC
# resource alias of this part: "L sideskirt 2"

render		0x0000009D
mesh		0x0000009E
click		0x0000011D

damage		0.1;

category	2

slot		0.022 0.030 0.009	0.000 0.000 0.000	1	; 
attach		0x000000CC 1	; 

eof
