# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C7
# resource alias of this part: "RL quarterpanel"

render		0x0000006A
mesh		0x0000006B
click		0x00000108

damage		0.1;

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	25	; RL_quarterpanel
attach		0x00000006 25	; chassis->RL_quarterpanel

eof
