# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DD
# resource alias of this part: "RL quarterpanel 2"

render		0x000000A0
mesh		0x000000A1
click		0x0000011E

damage		0.1;

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	2	; 
attach		0x000000CC 2	; 

eof
