# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000160
# resource alias of this part: "steering wheel 2"

render		0x00000161
mesh		0x00000162
click		0x00000164

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	999
compatible	0x00040999 999 ; default steering wheel

eof
