# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000093
# resource alias of this part: "Duhen_80er_HC_pistons"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

#render		0x00000091
#lod 1 1 //hi-res

render		0x00000094
lod 2 2 //extr-hi-res

mesh		0x00000095
click		0x00000096

body		0.0 0.0 0.0	0.0 0.0 0.0	1.28	sphere	0.1
noclick
nocollision

category	1

slot		-0.058 -0.092 -0.021	0.000 0.000 0.000	45	; piston_OUT
attach		0x000000B0 44	; Duhen_139er_connecting_rods->connecting_rod_piston_IN
attach		0x00000087 44	; Duhen_146er_connecting_rods->connecting_rod_piston_IN

eof
