# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C1
# resource alias of this part: "Duhen_alternator"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

render		0x0000011E ; "alternator - 1 1"
lod 1 1 //hi-res

render		0x00000015
lod 2 2 //extr-hi-res

mesh		0x00000014
click		0x00000068

body		0.0 0.0 0.0	0.0 0.0 0.0	4.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	13	; alternator_OUT
attach		0x0000008F 14	; D15V block->engine_block_alternator_IN
attach		0x0000009B 14	; D18V block->engine_block_alternator_IN
attach		0x0000000A 14	; D22V block->engine_block_alternator_IN

eof
