# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C8
# resource alias of this part: "Duhen_SolarWind_exhaust_header"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

render		0x0000012C ; "japanese_exhaust_header - 1 1"
lod 1 1 //hi-res

render		0x0000002D
lod 2 2 //extr-hi-res

mesh		0x0000002C
click		0x00000074

body		0.0 0.0 0.0	0.0 0.0 0.0	5.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	50	; exhaust_header_OUT
attach		0x000000BC 49	; Duhen_80er_cylinder_head->cylinder_head_exhaust_header_IN
attach		0x000000BD 49	; Duhen_88er_cylinder_head->cylinder_head_exhaust_header_IN
attach		0x000000BA 49	; Duhen_93er_cylinder_head->cylinder_head_exhaust_header_IN
attach		0x000000E9 49	; Ishima_WR_head_cylinder_head->cylinder_head_exhaust_header_IN
attach		0x000000FE 49	; Shimutshibu_RC_DDSA1C_cylinder_head->cylinder_head_exhaust_header_IN
attach		0x000000FF 49	; Shimutshibu_RC_DDSB3C_cylinder_head->cylinder_head_exhaust_header_IN
attach		0x00000100 49	; Shimutshibu_RC_DDSB8C_cylinder_head->cylinder_head_exhaust_header_IN

slot		-0.118 -0.131 0.029	0.000 0.000 0.000	53	; japanese_exhaust_head_pipe_IN
slotdmgmode	0x0000000E

eof
