# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BE
# resource alias of this part: "Duhen_crankshaft_bearing_bridge"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

#render		0x00000091
#lod 1 1 //hi-res

render		0x00000035
lod 2 2 //extr-hi-res

mesh		0x00000034
click		0x00000078

body		0.0 0.0 0.0	0.0 0.0 0.0	1.78	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	38	; crankshaft_bearing_bridge_OUT
attach		0x0000008F 97	; D15V block->engine_block_crankshaft_bearing_bridge_IN
attach		0x0000009B 97	; D18V block->engine_block_crankshaft_bearing_bridge_IN
attach		0x0000000A 97	; D22V block->engine_block_crankshaft_bearing_bridge_IN

eof
