# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C0
# resource alias of this part: "Duhen_oil_pan"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x00000132 ; oil_pan
lod 1 1 // hi-res

render		0x00000013 ; oil_pan
lod 2 2 // extr-hi-res

mesh		0x00000012
click		0x00000067

body		0.0 0.0 0.0	0.0 0.0 0.0	15.0	sphere	0.1
noclick
nocollision

category	1

slot		0.042 0.064 0.054	0.000 0.000 0.000	36	; oil_pan_OUT
attach		0x0000008F 37	; D15V block->engine_block_oil_pan_IN
attach		0x0000009B 37	; D18V block->engine_block_oil_pan_IN
attach		0x0000000A 37	; D22V block->engine_block_oil_pan_IN

eof
