# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000057
# resource alias of this part: "Einvagen_PerPro_GTA_transmission"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

render		0x00000126 ; "european_transmission - 1 1"
lod 1 1 //hi-res

render		0x0000002F
lod 2 2 //extr-hi-res

mesh		0x0000002E
click		0x00000075

body		0.0 0.0 0.0	0.0 0.0 0.0	27.0	sphere	0.1
noclick
nocollision

category	1

slot		0.058 0.000 0.000	0.000 0.000 0.000	6	; transmission_OUT
attach		0x000000D2 1	; Einvagen_110_GT_block->engine_block_transmission_IN
attach		0x0000004F 1	; Einvagen_PerPro_GTA_block->engine_block_transmission_IN

slot		0.350 -0.135 0.258	3.142 0.000 0.000	10	; european_transmission_RWD_IN

eof
