# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004B
# resource alias of this part: "Einvagen_camshaft_bearing_bridge"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

#render		0x00000091
#lod 1 1 //hi-res

render		0x00000017
lod 2 2 //extr-hi-res

mesh		0x00000016
click		0x00000069

body		0.0 0.0 0.0	0.0 0.0 0.0	1.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	30	; camshaft_bearing_bridge_OUT
attach		0x000000D8 31	; Einvagen_110_GT_cylinder_head->cylinder_head_camshaft_bearing_bridge_IN
attach		0x0000004C 31	; Einvagen_PerPro_GTA_cylinder_head->cylinder_head_camshaft_bearing_bridge_IN

eof
