# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000049
# resource alias of this part: "Einvagen_oil_pan"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

render		0x00000132 ; "oil_pan - 1 1"
lod 1 1 //hi-res

render		0x00000013
lod 2 2 //extr-hi-res

mesh		0x00000012
click		0x00000067

body		0.0 0.0 0.0	0.0 0.0 0.0	15.0	sphere	0.1
noclick
nocollision

category	1

slot		0.042 0.064 0.054	0.000 0.000 0.000	36	; oil_pan_OUT
attach		0x000000D2 37	; Einvagen_110_GT_block->engine_block_oil_pan_IN
attach		0x0000004F 37	; Einvagen_PerPro_GTA_block->engine_block_oil_pan_IN

eof
