# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000059
# resource alias of this part: "Einvagen_supercharger_drive_belt"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

#render		0x00000091
#lod 1 1 //hi-res

render		0x00000033
lod 2 2 //extr-hi-res

mesh		0x00000032
click		0x00000077

body		0.0 0.0 0.0	0.0 0.0 0.0	0.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	15	; supercharger_drive_belt_OUT
attach		0x00000047 16	; Einvagen_GK_9psi_supercharger->supercharger_drive_belt_IN

eof
