# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000053
# resource alias of this part: "Einvagen_supercharger_air_out_pipe"

lods 3 0.025 1 2

#render		??????????
#lod 0 0 //lo-res

render		0x00000136 ; "supercharger_air_out_pipe - 1 1"
lod 1 1 //hi-res

render		0x00000027
lod 2 2 //extr-hi-res

mesh		0x00000026
click		0x00000071

body		0.0 0.0 0.0	0.0 0.0 0.0	5.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.066 -0.054	0.000 0.000 0.000	21	; supercharger_air_out_pipe_OUT
attach		0x00000047 20	; Einvagen_GTK_9psi_supercharger->supercharger_air_out_IN

eof
