# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000062
# resource alias of this part: "Einvagen_PerPro_GTA_transmission_RWD_extension"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

render		0x00000128 ; "european_transmission_RWD_extension - 1 1"
lod 1 1 //hi-res

render		0x00000045
lod 2 2 //extr-hi-res

mesh		0x00000044
click		0x00000080

body		0.0 0.0 0.0	0.0 0.0 0.0	3.8	sphere	0.1
noclick
nocollision

category	1

slot		0.350 -0.135 0.258	3.142 0.000 0.000	11	; european_transmission_RWD_OUT
attach		0x00000057 10	; Einvagen_PerPro_GTA_transmission->european_transmission_RWD_IN

slot		0.346 -0.149 0.364	3.142 0.000 0.000	12	; european_transmission_RWD_propeller_shaft_IN

eof
