# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000005B
# resource alias of this part: "european exhaust pipe"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

#render		0x00000091
#lod 1 1 //hi-res

render		0x00000037
lod 2 2 //extr-hi-res

mesh		0x00000036
click		0x00000079

body		0.0 0.0 0.0	0.0 0.0 0.0	4.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	54	; european_exhaust_pipe_OUT
attach		0x00000058 51	; european exhaust header->european_exhaust_head_pipe_IN
attach          0x00000008 51   ; stock fix
eof
