# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E1
# resource alias of this part: "Faktun_Group_Tran6_transmission"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

render		0x0000012E ; "japanese_transmission - 1 1"
lod 1 1 //hi-res

render		0x0000000D
lod 2 2 //extr-hi-res

mesh		0x0000000C
click		0x00000064

body		0.0 0.0 0.0	0.0 0.0 0.0	27.0	sphere	0.1
noclick
nocollision

category	1

slot		0.058 0.000 0.000	0.000 0.000 0.000	6	; transmission_OUT
attach		0x0000008F 1	; D15V block->engine_block_transmission_IN
attach		0x0000009B 1	; D18V block->engine_block_transmission_IN
attach		0x0000000A 1	; D22V block->engine_block_transmission_IN
attach		0x000000DF 1	; Ishima_IshiBox_block->engine_block_transmission_IN
attach		0x000000F9 1	; Shimutshibu_RC_B94S200_block->engine_block_transmission_IN

slot		0.350 -0.135 -0.258	0.000 0.000 0.000	7	; japanese_transmission_RWD_IN

eof
