# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F4
# resource alias of this part: "Ishima_WR_SuperTurizmo_turbocharger"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

render		0x00000138 ; "turbocharger - 1 1"
lod 1 1 //hi-res

render		0x00000011
lod 2 2 //extr-hi-res

mesh		0x00000010
click		0x00000066

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.053 0.094 -0.050	0.000 0.000 0.000	52	; turbo_gas_in_OUT
attach		0x000000C8 53	; Duhen_SolarWind_exhaust_header->japanese_exhaust_head_pipe_IN
attach		0x000000F2 53	; Ishima_EX_head_exhaust_header->japanese_exhaust_head_pipe_IN
attach		0x0000010A 53	; Shimutshibu_RC_23W44EX_exhaust_header->japanese_exhaust_head_pipe_IN

slot		0.104 0.017 0.009	0.000 0.000 0.000	55	; turbo_gas_out_IN

slot		-0.057 -0.092 0.041	0.000 0.000 0.000	57	; turbo_air_in_IN

slot		-0.104 -0.010 0.008	0.000 0.000 0.000	59	; turbo_air_out_IN

eof
