# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E5
# resource alias of this part: "Ishima_93er_HC_pistons"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

#render		0x00000091
#lod 1 1 //hi-res

render		0x00000094
lod 2 2 //extr-hi-res

mesh		0x00000038
click		0x0000007A

body		0.0 0.0 0.0	0.0 0.0 0.0	1.56	sphere	0.1
noclick
nocollision

category	1

slot		-0.058 -0.092 -0.021	0.000 0.000 0.000	45	; piston_OUT
attach		0x000000E3 44	; Ishima_129er_connecting_rods->connecting_rod_piston_IN
attach		0x000000E4 44	; Ishima_146er_connecting_rods->connecting_rod_piston_IN

eof
