# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E8
# resource alias of this part: "Ishima_crankshaft_bearing_bridge"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

#render		0x00000091
#lod 1 1 //hi-res

render		0x00000035
lod 2 2 //extr-hi-res

mesh		0x00000034
click		0x00000078

body		0.0 0.0 0.0	0.0 0.0 0.0	1.78	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	38	; crankshaft_bearing_bridge_OUT
attach		0x000000DF 97	; Ishima_IshiBox_block->engine_block_crankshaft_bearing_bridge_IN

eof
