# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000100
# resource alias of this part: "Shimutshibu_RC_DDSB8C_cylinder_head"

lods 3 0.001 1 2

#render		0x00000091
#lod 0 0 //lo-res

render		0x0000011C ; "93er_cylinder_head - 1 1"
lod 1 1 //hi-res

render		0x00000019
lod 2 2 //extr-hi-res

mesh		0x00000018
click		0x0000006A

body		0.0 0.0 0.0	0.0 0.0 0.0	18.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	48	; cylinder_head_OUT
attach		0x0000008F 47	; Duhen_D15V_block->engine_block_cylinder_head_IN
attach		0x0000009B 47	; Duhen_D18V_block->engine_block_cylinder_head_IN
attach		0x0000000A 47	; Duhen_D22V_block->engine_block_cylinder_head_IN
attach		0x000000DF 47	; Ishima_IshiBox_block->engine_block_cylinder_head_IN
attach		0x000000F9 47	; Shimutshibu_RC_B94S200_block->engine_block_cylinder_head_IN

slot		0.015 0.106 -0.035	0.000 0.000 0.000	33	; cylinder_head_intake_camshaft_IN

slot		0.015 0.087 0.069	0.000 0.000 0.000	35	; cylinder_head_exhaust_camshaft_IN

slot		0.015 0.097 0.017	0.000 0.000 0.000	31	; cylinder_head_camshaft_bearing_bridge_IN

slot		0.014 0.063 -0.082	0.000 0.000 0.000	27	; cylinder_head_intake_manifold_IN

slot		0.015 0.030 0.099	0.000 0.000 0.000	49	; cylinder_head_exhaust_header_IN

slot		0.000 0.107 0.019	0.000 0.000 0.000	29	; cylinder_head_cover_IN

eof
