# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000055
# resource alias of this part: "turbocharger exhaust pipe"

lods 3 0.025 1 2

#render		???????????
#lod 0 0 //lo-res

render		0x0000013C ; "turbocharger_exhaust_pipe - 1 1"
lod 1 1 //hi-res

render		0x0000002B
lod 2 2 //extr-hi-res

mesh		0x0000002A
click		0x00000073

body		0.0 0.0 0.0	0.0 0.0 0.0	2.0	sphere	0.1
noclick
nocollision

category	1

slot		-0.028 0.000 0.000	0.000 0.000 0.000	56	; turbo_exhaust_pipe_OUT
attach		0x00000048 55	; turbocharger->turbo_gas_out_IN
attach          0x00000113 55   ;
attach          0x000000F4 55   ;
attach          0x0000010D 55   ;
attach          0x0000010C 55   ;
eof
