# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000001D
# resource alias of this part: "RL door"

render		0x00000017
lod		1 2
mesh		0x00000018
#click		0x00000021

body		0.000 0.000 0.000	0.000 0.000 0.000	40.000	cars\traffic\ArmoredVan_data\meshes\_phys_RL_door.scx	;0x0000000D
noclick
# total mass: 40.000 kg

category	2

slot		-0.302 0.000 0.000	0.000 0.000 0.000	2	; RL_door
attach		0x00000006 2	; chassis->RL_door

lods	2	0.01 0.025

eof
