# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000040AE
# resource alias of this part: ""

render		0x00004060
mesh		0x00004061
click		0x000040CF

damage		0.1

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	23	; 
attach		0x000000AE 23	; 

eof
