# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000010AE
# resource alias of this part: ""

render		0x00001060
mesh		0x00001061
click		0x000010CF

damage		0.5

body		0.000 0.000 0.000	0.000 0.000 0.000	21.450	cars\racers\Focer_data\phys\_phys_FR_inner_fender.scx

category	2

slot		-0.033 0.000 0.064	0	0	0 	10;

slot		0.000 0.000 0.000	0.000 0.000 0.000	35	; FL_quarterpanel
attach		0x00000006 35	; chassis->FL_quarterpanel

eof
