# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000010B6
# resource alias of this part: "FR door"

render		0x00001076
mesh		0x00001077
click		0x000010D7

damage		0.1

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	9	; 
attach		0x000000B6 9	; 

eof
