# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000AA7
# resource alias of this part: "R windshield"

render		0x0000004F
mesh		0x00000050
click		0x000000C8

damage		0.2

category	2

body		0.000 0.050 0.040	0.000 0.000 0.000	10.412	cars\racers\Focer_data\phys\_phys_R_windshield.scx

slot		0.000 0.000 0.000	0.000 0.000 0.000	16	;
attach		0x00000006 16	;

eof
