# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B9
# resource alias of this part: "RR quarterpanel"

render		0x0000007C
mesh		0x0000007D
click		0x000000DA

damage		0.1

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	38	; 
attach		0x00000006 38	; 

eof
