# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000AB
# resource alias of this part: "steering wheel"

render		0x00000059
mesh		0x0000005A
click		0x000000CC

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	999
compatible	0x00040999 999 ; default steering wheel

eof
