# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000047
# resource alias of this part: "alternator"

lods 3 0.001 1.000 2.000

render		0x0000001F ; alternator
lod 2 2 // extr-hi-res

mesh		0x0000001E
click		0x00000060

body		0.0 0.0 0.0	0.0 0.0 0.0	4.6	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 -0.000	0.000 0.000 0.000	3	; alternator belt IN
                                 
slot		0.219 -0.000 0.217	0.000 0.000 0.000	4	; alternator_OUT
attach		0x0000003F 20	; engine block->engine_block_alternator_IN
attach		0x0000AAB1 20	; engine block->engine_block_alternator_IN

eof
