# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00001043
# resource alias of this part: "Crane chain"

render		0x00001017
mesh		0x00001016
click		0x0000105C

body		0.0 0.0 0.0	0.0 0.0 0.0	0.75	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.128 0.000	0.000 0.000 0.000	5	; Crank timing gear OUT
attach		0x0000E23E 5	; 
attach		0x0000123E 5	; 

eof
