# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000045
# resource alias of this part: "Dynatech_sb_R_header"

render		0x0000101B
mesh		0x0000101A
click		0x0000105E

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		-0.005 0.000 0.280	0.000 0.000 0.000	36	;
attach		0x000000AF 16	;
attach		0x00000041 16	;

eof
