# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00004046
# resource alias of this part: "Edelbrock_TiTech_L_header"

lods 3 0.001 1.000 2.000

render		0x000010E5 ;
lod 1 1 // hi-res

render		0x000010E5 ;
lod 2 2 // extr-hi-res

mesh		0x000010E4
click		0x0000405F

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		0.140 0.201 0.000	0.000 0.000 -0.350	15	;
attach		0x0000104F 37	;
attach		0x0000004F 37	;

eof
