# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000022BB
# resource alias of this part: "FLEXALITE_sb_Fan 327,350"

lods 3 0.001 1.000 2.000

render		0x0000222F ; 
lod 2 2 // extr-hi-res                                 

mesh		0x0000222E
texture 	0x0003001C
click		0x00002269

body		0.0 0.0 0.0	0.0 0.0 0.0	1.9	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.136	0.000 0.000 0.000	21	; 
attach		0x000021B7 21	; 

eof
