# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000A0BD
# resource alias of this part: "GM_small_block_L_cover"

lods 3 0.001 1.000 2.000

render		0x0000A015 ;
lod 1 1 // hi-res

render		0x0000A015 ;
lod 2 2 // extr-hi-res

mesh		0x0000A014
click		0x0000A05B

body		0.0 0.0 0.0	0.0 0.0 0.0	2.3	sphere	0.1
noclick
nocollision

category	1

slot		-0.006 -0.030 -0.018	0.000 0.000 -0.100	3	; Cup

slot		0.000 -0.196 0.000	0.000 0.000 0.000	21	; 
attach		0x0000A0AD 22	; GM stock L head
attach		0x0000A1AD 22	; GM stock L head
attach		0x0000A040 22	; Holley L head

eof
