# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000AA02
# resource alias of this part: "GM_small_block_cam_gear"

render		0x0000212D
mesh		0x0000212C
click		0x00002168

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.004 -0.060 0.235	0.000 0.000 0.000	3
slottype	218
attach		0x0000A003 3
attach		0x00001AFC 3

eof
