# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000AA01
# resource alias of this part: "GM_small_block_crank_gear"

render		0x0000E2CF
mesh		0x0000E20C
click		0x0000E257

body		0.0 0.0 0.0	0.0 0.0 0.0	15.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	5	; gear OUT
slottype	217

slot		0.004 -0.003 0.364	0.000 0.000 0.000	3	; crankshaft_IN
attach		0x0000B03E 3	;
attach		0x0000B13E 3	;
attach		0x00000105 3	;
attach		0x0000A1A5 3	;

eof
