# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000ABBD
# resource alias of this part: "GTO65_R_cover"

lods 3 0.001 1.000 2.000

render		0x0000AB15 ;
lod 1 1 // hi-res

render		0x0000AB15 ;
lod 2 2 // extr-hi-res

mesh		0x0000AB14
click		0x0000AB5B

body		0.0 0.0 0.0	0.0 0.0 0.0	2.3	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.199 0.000	0.000 0.000 0.000	21	; 
attach		0x0000A0AF 23	; GM stock R head
attach		0x0000A1AF 23	; GM stock R head
attach		0x0000A041 23	; Holley R head

eof
