# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000008B
# resource alias of this part: "Holley 2brl carb"

lods 3 0.001 1.000 2.000

render		0x000010D5 ; 
lod 1 1 // hi-res

render		0x000010D5 ; 
lod 2 2 // extr-hi-res

mesh		0x00001081
click		0x00000094

body		 0.000  0.000  0.000	 0.000  0.000  0.000	6.4	sphere	0.1
noclick
nocollision

category	1

slot		 0.000  -0.017  0.000	 0.000  0.000  0.000	10	; 
attach		0x000000A1 7	; small block 2brl manifold
attach		0x0000A0A1 7	; small block 2brl manifold

slot		 -0.010  0.070  0.130	 0.000  0.000  0.000	11	; Air Filter

eof
