# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000B1A3
# resource alias of this part: "Holley rejetted dominator"

lods 3 0.001 1.000 2.000

render		0x0000B182 ; Holley render
lod 1 1 // extr-hi-res

render		0x0000B182 ; Holley render
lod 2 2 // extr-hi-res

mesh		0x0000A381
click		0x0000A394

body		 0.000  0.000  0.000	 0.000  0.000  0.000	6.4	sphere	0.1
noclick
nocollision

category	1

slot		-0.006  -0.018  -0.014	 0.000  0.000  0.000	10	; 
attach		0x0000004B 7	; small block 4brl manifold
attach		0x0000104B 7	; small block 4brl manifold
attach		0x0000A0BE 7	; Holley 4brl manifold
attach		0x0000C0BE 7	; Holley strip manifold
attach		0x000030A1 7	; 427 4brl intake

slot		 -0.010  0.080  0.110	 0.000  0.000  0.000	11	; Air Filter

eof
