# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000EB23
# resource alias of this part: "HOWE radiator 283-350"

render		0x0000BE2D
mesh		0x0000BE2C
texture	        0x00030020
click		0x0000BE68

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	6
compatible	0x0000B103 6;

eof
