# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00001AFC
# resource alias of this part: "Lunati_sb_cam"

lods 3 0.001 1.000 2.000

render		0x00002A2D ; 
lod 2 2 // extr-hi-res

mesh		0x00002A2C
click		0x00002068

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	3	; Timing_gear_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	10	; Block_camshaft_OUT
attach		0x0000A03F 10	; 327 small block
attach		0x0000B03F 10	; 350 small block

eof
