# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000044
# resource alias of this part: "PROFORM small block head cover with Chevrolet emblem"

lods 3 0.001 1.000 2.000

render		0x00001019 ;
lod 1 1 // hi-res

render		0x00001019 ;
lod 2 2 // extr-hi-res

mesh		0x00001018
click		0x0000105D

body		0.0 0.0 0.0	0.0 0.0 0.0	2.2	sphere	0.1
noclick
nocollision

category	1

slot		-0.065 -0.127 0.000	0.000 0.000 0.000	24	; R_cylinder_head_cover_OUT
attach		0x000000AF 23	; 
attach		0x00000041 23	; 
eof
