# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000A1A3
# resource alias of this part: "Stock 2x4brl carbs"

lods 3 0.001 1.000 2.000

render		0x0000A182 ; 
lod 1 1 // extr-hi-res

render		0x0000A182 ; 
lod 2 2 // extr-hi-res

mesh		0x0000A181
click		0x0000A194

body		 0.000  0.000  0.000	 0.000  0.000  0.000	6.4	sphere	0.1
noclick
nocollision

category	1

slot		 0.000  -0.017  0.000	 0.000  0.000  0.000	10	; 
attach		0x0000A04B 7	; small block 2brl manifold
attach		0x0000B04B 7	; small block 2brl manifold

slot		 0.010  0.065  0.050	 0.000  0.000  0.000	11	; Air Filter

eof
