# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000A0A3
# resource alias of this part: "Stock 4brl carb"

lods 3 0.001 1.000 2.000

render		0x0000A082 ; 
lod 1 1 // extr-hi-res

render		0x0000A082 ; 
lod 2 2 // extr-hi-res

mesh		0x0000A081
click		0x0000A094

body		 0.000  0.000  0.000	 0.000  0.000  0.000	6.4	sphere	0.1
noclick
nocollision

category	1

slot		 0.000  -0.017  0.000	 0.000  0.000  0.000	10	; 
attach		0x0000004B 7	; small block 4brl manifold
attach		0x0000104B 7	; small block 4brl manifold
attach		0x0000A0BE 7	; Holley 4brl manifold
attach		0x0000C0BE 7	; Holley strip manifold
attach		0x000030A1 7	; 427 4brl intake

slot		 -0.010  0.100  0.130	 0.000  0.000  0.000	11	; Air Filter

eof
