# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000015BD
# resource alias of this part: "Summit_breather"

lods 3 0.001 1.000 2.000

render		0x00001515 ; 
lod 2 2 // extr-hi-res

mesh		0x00001514
click		0x0000155B

body		0.0 0.0 0.0	0.0 0.0 0.0	2.3	sphere	0.1
noclick
nocollision

category	1

slot		0.056 -0.125 0.068	0.000 0.000 0.000	3	; 
attach		0x000000BD 3	; 
attach		0x00000042 3	; 
attach		0x00001042 3	; 
attach		0x0000A0BD 3	; 

eof
