# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000A5
# resource alias of this part: "Summit air filter"

lods 3 0.001 1.000 2.000

render		0x00001078 ; oval_air_filter
lod 1 1 // hi-res

render		0x00001078 ; oval_air_filter
lod 2 2 // extr-hi-res

mesh		0x00001077
texture 	0x00030025
click		0x0000108F

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.010 0.000	0.000 0.000 0.000	12	;
attach		0x000000A3 11	; 2brl carb
attach		0x0000008B 11	; 2brl Holley carb
attach		0x0000A0A3 11	; 4brl stock carb	
attach		0x0000B1A3 11	; 4brl Holley carb

eof
