# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00005AA5
# resource alias of this part: "Summit_scoop_5"

lods 3 0.001 1.000 2.000

render		0x00005A78 ; oval_air_filter
lod 1 1 // hi-res

render		0x00005A78 ; oval_air_filter
lod 2 2 // extr-hi-res

mesh		0x00005A77
click		0x00005A8F

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.017 -0.032 0.100	0.000 0.000 0.000	12	;
attach		0x0000A1A3 11	; 2x4brl stock carbs
attach		0x0000C1A3 11	; 2x4brl Holley carbs

eof
