# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00001099
# resource alias of this part: "TCI 4spd tranny"

lods 3 0.001 1.000 2.000

render		0x0000117E ; transmission
lod 1 1 // hi-res

render		0x0000117E ; transmission
lod 2 2 // extr-hi-res

mesh		0x0000107D
click		0x00001092

body		0.0 0.0 0.0	0.0 0.0 0.0	38.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.128 -0.612	0.000 0.000 0.000	16	; transmission_OUT
attach		0x0000AAB1 5	; 
attach		0x0000000A 5	; 
attach		0x0000003F 5	; 
attach		0x0000A03F 5	; 
attach		0x0000B03F 5

slot		0.014 -0.036 0.264	0.000 0.000 0.000	5	; transmission_propeller_shaft_IN

eof
