# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BC
# resource alias of this part: "SuperDuty_R_cylinder_head_cover"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x00000019 ; R_DOHC_cylinder_head_cover
lod 1 1 // hi-res

render		0x00000019 ; R_DOHC_cylinder_head_cover
lod 2 2 // extr-hi-res

mesh		0x00000018
click		0x0000005D

body		0.0 0.0 0.0	0.0 0.0 0.0	2.2	sphere	0.1
noclick
nocollision

category	1

slot		0.028 -0.015 0.000	0.000 0.000 0.000	24	; R_cylinder_head_cover_OUT
attach		0x000000AF 23	; 
attach		0x00000041 23	; 
eof
