# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000043
# resource alias of this part: "DOHC camshaft drive belt"

render		0x00000017
mesh		0x00000016
click		0x0000005C

body		0.0 0.0 0.0	0.0 0.0 0.0	0.75	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	5	; Crank timing gear OUT
attach		0x0000E23E 5	; 

eof
