# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00009949
# resource alias of this part: "alternator drive belt"

lods 3 0.001 1.000 2.000

render		0x00009923 ; alternator_drive_belt
lod 2 2 // extr-hi-res

mesh		0x00009922
click		0x00009962

body		0.0 0.0 0.0	0.0 0.0 0.0	0.45	sphere	0.1
noclick
nocollision

category	1

slot		0.084 0.218 0.076	0.000 0.000 0.000	3
attach		0x00009947 3

eof
