# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00009948
# resource alias of this part: "Vette oil pan"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x00009921 ; oil_pan
lod 1 1 // hi-res

render		0x00009921 ; oil_pan
lod 2 2 // extr-hi-res

mesh		0x00009920
click		0x00009961

body		0.0 0.0 0.0	0.0 0.0 0.0	18.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.324 0.000	0.000 0.000 0.000	10	; oil_pan_OUT
attach		0x0000993F 9	; engine block->engine_block_oil_pan_IN

eof
