# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000099C7
# resource alias of this part: "vette 63 ignition distributor"

render		0x000098AD
mesh		0x000099AC
click		0x00009957

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.079 -0.416	0.000 0.000 0.000	25	;
attach		0x000099BE 25 ;

eof
