# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000CB87
# resource alias of this part: "Weiand_pro_street_belt"

lods 3 0.001 1.000 2.000

render		0x0000CBF3
lod 1 1 // hi-res

render		0x0000CBF3
lod 2 2 // extr-hi-res

mesh		0x0000CBF2
click		0x0000CB90

body		 0.000  0.000  0.000	 0.000  0.000  0.000	0.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000  0.230  0.411	 0.000  0.000  0.000	14	;
attach		0x0000CB85 15	;

eof
