# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000CBBB
# resource alias of this part: "Weiand_pro_street_pulley"

lods 3 0.001 1.000 2.000

render		0x0000CB2F ;
lod 1 1 // hi-res

render		0x0000CB2F ; 
lod 2 2 // extr-hi-res

mesh		0x0000CB2E
click		0x0000CB69

body		0.0 0.0 0.0	0.0 0.0 0.0	1.9	sphere	0.1
noclick
nocollision

category	1

slot		0.012 0.000 0.284	0.000 0.000 0.000	1	; 
attach		0x0000B03E 1	;
attach		0x0000B13E 1	;
attach		0x00000105 1	;
attach		0x0000A1A5 1	;

eof
