# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000CB85
# resource alias of this part: "Weiand_Pro_street_supercharger"

lods 3 0.001 1.000 2.000

render		0x0000CBF1
lod 1 1 // hi-res

render		0x0000CBF1
lod 2 2 // extr-hi-res

mesh		0x0000CBF0
click		0x0000CB8E

body		 0.000  0.000  0.000	 0.000  0.000  0.000	14.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.124 0.000	 0.000  0.000  0.000	8	;
attach		0x0000CBA1 7	;

slot		0.009 0.127 -0.128	 0.000  0.000  0.000	9	; roots_type_supercharger_mixture_IN
compatible 	0x0000004B 7;

slot		0.000  0.000 0.000	 0.000  0.000  0.000	15	; roots_type_supercharger_drive_belt_IN

eof
