# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00004132
# resource alias of this part: "Carpeting"

render		0x000040C9
mesh		0x000040CA
click		0x0000416A

damage		0.25

body		0.000 0.000 0.000	0.000 0.000 0.000	12.000	cars\racers\Enula_data\phys\_phys_C_side.scx

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	967	; 
attach		0x00000006 967	; 

eof
