# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000108
# resource alias of this part: "FL seat"

render		0x0000005F
mesh		0x00000060
click		0x0000013F

damage		0.3

body		0.000 0.000 0.000	0.000 0.000 0.000	22.432	cars\racers\Enula_data\phys\_phys_R_seats.scx

category	2

slot		-0.415 -0.130 -0.240	0.000 0.000 0.000	1	; FL_seat
attach		0x00000006 901	; chassis->FL_seat

eof
