# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000133
# resource alias of this part: ""

render		0x000000CC
mesh		0x000000CD
click		0x0000016B

damage		0.2

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	20	;
attach		0x00000129 20	;

eof
