# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000040BB
# resource alias of this part: ""

render		0x0000407C
mesh		0x0000407D
click		0x000040DC

damage		0.01;

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	957	; 
attach		0x00000006 957	; 

eof
