# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000010BB
# resource alias of this part: ""

render		0x0000107C
mesh		0x0000107D
click		0x000010DC

damage		0.01;

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	951	; 
attach		0x00000006 951	; 

eof
