# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BB
# resource alias of this part: "RL quarterpanel"

render		0x0000007C
mesh		0x0000007D
click		0x000000DC

damage		0.01;

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	28	; RL_quarterpanel
attach		0x00000006 28	; chassis->RL_quarterpanel

eof
