# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000788B
# resource alias of this part: "2x4 barrel carburetors"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000000D5 ; 2x4_barrel_carburetors
lod 1 1 // hi-res

render		0x00008882 ; 2x4_barrel_carburetors
lod 2 2 // extr-hi-res

mesh		0x00008881
click		0x00008894

body		0.0 0.0 0.0	0.0 0.0 0.0	6.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	7	;
attach		0x000078BE 7	

slot		-0.000 0.039 0.008	0.000 0.000 0.000	11	; twin_carbs_air_IN

eof
