# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00009A48
# resource alias of this part: "oil pan"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x00009A21 ; oil_pan
lod 1 1 // hi-res

render		0x00009A21 ; oil_pan
lod 2 2 // extr-hi-res

mesh		0x00009A20
click		0x00009A61

body		0.0 0.0 0.0	0.0 0.0 0.0	18.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	115	;
attach		0x00009048 115	;

eof
