# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00009AA5
# resource alias of this part: "SuperDuty_airbox"

lods 3 0.001 1.000 2.000

#render		0x00009A78 ; snaker
#lod 0 0 // lo-res

render		0x00009A78 ; snaker
lod 1 1 // hi-res

render		0x00009A78 ; snaker
lod 2 2 // extr-hi-res

mesh		0x00009577
click		0x0000958F

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.075 -0.005		0.000 0.000 0.000	11	;
attach		0x0000788A 11	;
attach		0x0000788B 11	;

eof
