# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000BBF
# resource alias of this part: "gasser running gear"

render		0x00000554
mesh		0x00000555
click		0x000001AA

body		0.000 0.050 0.000	0.000 0.000 0.000	7.227	cars\racers\Duhen_data\meshes\_phys_R_windshield.scx	;0x0000004E
# total mass: 7.227 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	651	; Gasser
attach		0x00000006 651	; chassis->R_winshield

eof
