# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BF
# resource alias of this part: "rallbar"

render		0x00000054
mesh		0x00000055
texture         0x00020025
click		0x00000100

body		0.000 -0.050 0.000	0.000 0.000 0.000	7.227	cars\racers\Duhen_data\meshes\_phys_R_windshield.scx	;0x0000004E
# total mass: 7.227 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	12	; R_windshield
attach		0x00000006 12	; chassis->R_windshield

eof
