# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000D361
# resource alias of this part: "Golden NOS rail"

lods 3 0.001 1 2
render		0x0000000??
lod 0 0 //lo-res
render		0x0000D360
lod 1 1 //hi-res
render		0x0000D360
lod 1 2 //extr-hi-res

mesh		0x0000D359
click		0x0000D358

body		0.0 0.0 0.0	0.0 0.0 0.0	4.25	sphere	0.1
noclick
nocollision

slot		0.000 0.000 0.000	0.000 0.000 0.000	22	; NOS_rail_OUT
attach		0x000700C6 23	; Duhen_SolarTunnel_intake_manifold->intake_manifold_NOS_rail_IN
attach		0x000700DB 23	; Einvagen_110_GT_intake_manifold->intake_manifold_NOS_rail_IN
attach		0x0007004D 23	; Einvagen_PerPro_GTA_intake_manifold->intake_manifold_NOS_rail_IN
attach		0x000700F1 23	; Ishima_TunnelFold_intake_manifold->intake_manifold_NOS_rail_IN
attach		0x00070109 23	; Shimutshibu_RC_HIB535T4_intake_manifold->intake_manifold_NOS_rail_IN

category	1


eof
