# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000D326
# resource alias of this part: "Registration 1"

render		0x0000D325
mesh		0x0000D324
texture 	0x0000D340
click		0x0000D323

damage		0.2

body		0.000 0.000 0.000	0.000 0.000 0.000	0.500	parts\neons\meshes\_Phys_Registration1.scx
# total mass: 5.00 kg

category	2

slot		0.000 0.000 0.000 	3.147 0.000 0.000	1	; Registration 1

render 		0x0000D333
flags		4

eof
